/*===============  BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 375px) {
  .header__container {
    height: 740px;
    text-align: center;
    border: 2px solid #000;
    color: #000;
    background-color: #0000ff;
  }
  .main__container {
    border: 2px solid #000;
    //height: calc(4187px - 353px - 740px);
    background-color: #ff00bb;

    .api__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .companies__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .implement__container {
      .implement__image{
        width: 20.5rem;
        height: 13.0625rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
      } 
      .implement__text{
          display: flex;
          width: 20.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 1.5rem;
      }
      .implement__h2_text{
        color: $san-juan-blue;
        text-align: center;
        font-family: $body-second-font;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: $font-regular;
        line-height: 2.25rem;
        letter-spacing: -0.01731rem;
      }
        .implement__p_text{
          color: $san-juan-blue-light;
          text-align: center;
          font-family: $body-font;
          font-size: 0,9375rem;
          font-style: normal;
          font-weight: $font-regular;
          line-height: 1,75rem;
        }
    }
    .app__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .finances__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .demo__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    //about.html
    .innovators__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .vision__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .picture__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .statistics__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .culture__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    //contacts
    .help__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }
    .registration__container {
      height: 200px;
      border: 1px solid #000;
      font-size: 1.3rem;
      text-align: center;
    }

  }
  .footer__container {
    height: 353px;
    text-align: center;
    border: 2px solid #000;
    color: #000;
    flex-direction: column;
    background-color: rgb(0, 255, 119);
  }
}

/* For medium devices */
/* @media screen and (min-width: 576px){
  
  } */

@media screen and (min-width: 768px) {
}

/* For large devices */
/* @media screen and (min-width: 992px){
  } */
@media screen and (min-width: 1440px) {
}
