.subcontainer__contacts {
  @media screen and (min-width: 1439px) {
    display: flex;
    flex-direction: row;
  }
}
.registration__container {
  @media screen and (min-width: 767px) {
    padding-left: 137px;
    margin-top: -2.5px;
  }
  @media screen and (min-width: 1439px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

#contacts__companies__logos {
  margin-top: 31px;

  @media screen and (min-width: 767px) {
    margin-top: 40px;
    padding-top: 0px;
  }
}
.h4__contacts {
  text-align: center;
  width: 300px;
  margin-top: 80px;
  @media screen and (min-width: 767px) {
  }
}
#demo__contacts {
  @media screen and (min-width: 767px) {
    margin-top: 124px;
    margin-bottom: 30px;
  }
}
#demo__form__contacts {
  @media screen and (min-width: 767px) {
    margin-bottom: 84px;
  }
}
#input__contacts {
  background-color: #fbfcfe;
  @media screen and (min-width: 1439px) {
    margin-top: 155px;
    //padding-bottom: 16px;
  }
}
#input__contacts__button {
  @media screen and (min-width: 1439px) {
    margin-top: 130.5px;
    margin-left: 60px;
    //padding-bottom: 16px;
  }
}

#contacts__color__light {
  background-color: #edf3f8;
  background-image: none;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  .h4__contacts {
    opacity: 0.75;
  }
  @media screen and (min-width: 767px) {
    padding-bottom: 0px;
    //margin-top: 78px;
    .h4__contacts {
      margin-top: 0px;
      margin-top: 64px;
      //margin-left: 10px;
      letter-spacing: -0.185px;
      width: 445px;
    }
  }
  @media screen and (min-width: 1440px) {
    .h4__contacts {
      text-align: left;
    }
  }
}

#svg__color__changer {
  path {
    fill: $san-juan-blue;
  }
  transform: scale(1);

  @media screen and (min-width: 767px) {
    transform: scale(1.23); // Mastelis, kai ekranas yra 768px
  }
}

//forma
.subcontainer__contacts {
  form {
    display: flex;
    flex-direction: column;
    //padding-bottom: 80px;
    padding-left: 24.5px;
    button {
      margin-top: 16px;
      //margin-left: 18.5px;
    }
  }

  input,
  textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid $san-juan-blue;
    width: 327px;
    padding-top: 13px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #edf3f8;
    margin-bottom: 17px;
    opacity: 0.5;

    &::placeholder {
      color: $san-juan-blue;
      font-family: "Public Sans", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 166.667% */
      letter-spacing: -0.115px;
      //opacity: 0.5;
    }
    &:hover,
    &:active {
      &::placeholder {
        opacity: 1; // Texto spalva uzvedus zymekli
      }
    }
    @media screen and (min-width: 767px) {
      width: 445px;
    }
    @media screen and (min-width: 1440px) {
      margin-left: 65px;
    }
  }
  textarea {
    height: 96px;
    resize: none;
    padding-top: 7px;
    margin-bottom: 24px;
  }

  .form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input[type="checkbox"] {
      display: none;
    }

    label {
      position: relative;
      padding-left: 35px;

      color: $san-juan-blue;
      font-family: "Public Sans", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.115px;
    }
    .checkbox-custom {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: $san-juan-blue;
      border: 1px solid $san-juan-blue;
      opacity: 0.25;
      margin-top: 13px;
      cursor: pointer;
    }

    .contact__checkbox__text {
      position: relative;
      left: 16px; //pareguliuoti nuo checkbox
      @media screen and (min-width: 767px) {
        width: 395px;
        display: block;
        margin-bottom: -3px;
      }
    }
  }
}

.help__container {
  color: $san-juan-blue;
  text-align: center;
  font-family: $body-second-font;
  font-size: $h3-big-size;
  font-style: normal;
  font-weight: $font-regular;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.246px;

  padding-left: 24px;
  padding-right: 24px;

  margin-top: 125px;
  margin-bottom: 40px;

  @media screen and (min-width: 767px) {
    font-size: $h2-regular-size;
    line-height: $h1-small-line-height; /* 116.667% */
    letter-spacing: -0.7px;

    margin-left: 90px;
    margin-right: 98px;
    margin-top: 74px;
    margin-bottom: 58px;
  }
  @media screen and (min-width: 1440px) {
    font-size: $h1-small-size;
    letter-spacing: -0.431px;

    margin-left: 165px;
    margin-right: 545px;
  }
}

#contacts__companies__logos {
  @media screen and (min-width: 767px) {
    padding-top: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    gap: 57px;

    svg {
      transform: scale(1.21);
      margin-bottom: -11px;
    }

    // svg:nth-child(1) {
    //   margin-top: 0rem;
    //   margin-left: -4.3rem;
    // }

    // svg:nth-child(2) {
    //   margin-top: 50px;
    //   margin-left: 50px;
    // }

    // svg:nth-child(3) {
    //   margin-top: 0.4rem;
    //   margin-right: -3.8rem;
    // }

    // svg:nth-child(4) {
    //   margin-left: -4.3rem;
    //   margin-top: -0.6rem;
    // }
    // svg:nth-child(5) {
    //   margin-top: -0.5rem;
    //   margin-right: 0.4rem;
    // }
    // svg:nth-child(6) {
    //   margin-top: -0.2rem;
    //   margin-right: -4rem;
    // }
  }
}
