.footer__container {
  text-align: center;
  color: $link-water-white;

  background-color: $mirage-blue;
  background-image: url('/assets/images/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  font-size: $p-regular-size;

  svg {
    margin-left: 0.75rem;
    margin-right: 0.75rem;

    &:hover {
      path {
        fill: $charm-pink-active;
      }
    }
  }
}

.footer__nav {
  a {
    color: $link-water-white;
    font-size: $p-regular-size;

    &:hover {
      opacity: 1; //header links opacity hover
    }
  }
}