$toggle-size: 2.5rem;
$toggle-margin: 0.625rem;
$toggle-line: 0.25rem;

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@media screen and (max-width: 767px) {
 

  header {
    position: fixed;
    width: 100%;
    background-color: transparent;
  }

  .header__container__pricing {
    .header__half__circle {
      display: none;
    }

    &.is-scrolling {
      background-color: $body-color;
      box-shadow: 0 0.2rem 0.5rem rgba($san-juan-blue, 0.1);
      z-index: 1;
      margin-top: 0;
    }

    .header__circle {
      display: none;
    }

    .circle {
      display: none;
    }

    .nav {
      position: fixed;
      top: 3rem;
      right: 3rem;
      display: inline-block;
      max-width: $toggle-size + $toggle-margin;
      max-height: $toggle-size + $toggle-margin;
      overflow: visible;
      outline: none;

      &.is-active {
        .nav__toggle {

          &:before,
          &:after {
            box-shadow: none;
            background-color: $white-color;
          }

          &:before {
            transform: rotate(-45deg);
          }

          &:after {
            transform: rotate(45deg);
          }
        }

        .nav__menu {
          transform: translate(0, 0);
        }
      }

      .nav__toggle {
        $offset: $toggle-size * 0.5;
        position: relative;
        width: 1.75rem;
        height: 1.4375rem;
        flex-shrink: 0;
        z-index: 2;
        transform: translate(1.5rem, -0.44rem);
        padding-bottom: 2rem;

        &:after {
          content: '';
          position: absolute;
          left: 2rem;
          top: 5rem;
          bottom: 0rem;
          width: 50%;
          height: 0.18rem;
          background-color: $white-color;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: #{$offset - calc($toggle-line / 2)};
          left: 0;
          transform: translate(0, 0);
          width: 100%;
          height: 0.2rem;
          background: $san-juan-blue;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        &:before {
          box-shadow: 0 0.5rem 0 0 $san-juan-blue;
        }

        &:after {
          box-shadow: 0 -0.5rem 0 0 $san-juan-blue;
        }
      }

      .nav__menu {
        position: absolute;
        top: -3rem;
        right: -3rem;
        left: auto;
        min-width: 18.75rem;
        max-width: 40vw;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        padding: 5rem 1.25rem 1.25rem 0.625rem;
        transition: transform 0.3s ease;
        transform: translate(calc(100% + 3.125rem), 0);
        background-color: rgba($mirage-blue, 1);
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;
        grid-gap: 0.3125rem 0;
        align-content: start;
        box-shadow: 0 0 3.125rem #0000004d;
        text-align: center;
        overflow: hidden;

        &::before {
          content: '';
          background: url('/assets/images/shared/desktop/bg-pattern-circle.svg') no-repeat -17.8rem -34.1rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 48.75rem;
          height: 48.75rem;
          z-index: -1;
        }
      }

      .nav__link {
        text-align: center;
        color: $link-water-white;
        width: 15.5625rem;
        padding: 0.8rem;
        font-size: 1.25rem;
        transition: background-color 0.3s ease;
        transform: translate(0.75rem, 3rem);
      }

      .nav__link:first-child {
        &:before {
          content: '';
          position: absolute;
          left: 0.2rem;
          text-align: center;
          top: -2.05rem;
          bottom: 0rem;
          width: 100%;
          height: 0.0625rem;
          background-color: $link-water-white;
          opacity: 0.15;
        }
      }

      .nav__menu {
        button {
          position: absolute;
          transform: translate(1.6rem, 19.215rem);
          width: 15.75rem;
          height: 3rem;
          font-family: $body-font;
          box-shadow: 10px 10px 25px -10px rgba($san-juan-blue, 0.25);
        }
      }
    }

    .nav__logo {
      margin-top: 2.5rem;
      margin-left: 0.64rem;
    }

    .nav__header {
      margin: 1rem 1.5rem 1.5rem 1rem;
    }
  }

  .main__container {}
}

@media screen and (min-width: 768px) {
  // body {
  //     background: url('/assets/images/shared/desktop/bg-pattern-half-circle-tablet.svg') no-repeat -5rem -16rem;
  // }

  .header__container__pricing {
    .header__circle {
      position: absolute;
      width: 59.3125rem;
      height: 59.3125rem;
      top: -41.5rem;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;
      display: none;
    }

    .header__half__circle {
      display: none;
    }

    .nav__header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.4rem;
      margin-top: 2.7rem;

      .nav__toggle {
        display: none;
      }

      .nav__logo {
        margin-right: 1rem;
      }

      .nav__menu {
        display: flex;
        gap: 2.5rem;

        > :first-child {
          margin-left: -0.6rem;
        }

        > :last-child {
          margin-left: 3.1rem;
        }
      }

      .nav__link {
        display: grid;
        align-self: center;
      }
    }
  }
}

.main__container {}

@media screen and (min-width: 1440px) {
  // body {
  //     width: 100%;
  //     background: url('/assets/images/shared/desktop/bg-pattern-circle.svg') no-repeat 50rem -11rem;
  // }

  .header__container__pricing {
    .header__half__circle {
      display: none;
    }

    .nav__header {
      margin-right: 0.3rem !important;
    }

    .nav__menu {
      margin-right: -0.7rem;

      > :last-child {
        margin-left: 29.3rem !important;
      }
    }
  }

  .main__container {}
}