// $toggle-size: 2.5rem;
// $toggle-margin: 0.625rem;
// $toggle-line: 0.25rem;

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@media screen and (max-width: 767px) {
  // .header__container__pricing {
  // }

  .main__container {
    .pricing__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;

      .pricing__text__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // border-bottom: 2px solid red;
      }

      .pricing__text__price::after {
        content: '';
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 20.4375rem;
        height: 0.0625rem;
        background-color: $san-juan-blue;
        opacity: 0.25;
      }

      .pricing__plan__title {
        width: 20.4375rem;
        color: $dark-pink;
        text-align: center;
        font-family: $body-second-font;
        font-size: $h4-regular-size;
        font-style: normal;
        font-weight: $font-regular;
        line-height: $h4-regular-line-height;
        letter-spacing: -0.01156rem;
      }

      .pricing__plans__container {
        text-align: center;
      }

      .pricing__value {
        width: 20.4375rem;
        color: $san-juan-blue;
        text-align: center;
        font-family: $body-second-font;
        font-size: $h1-small-size;
        font-style: normal;
        font-weight: $font-regular;
        line-height: $h1-large-line-height;
        letter-spacing: -0.02694rem;
      }

      .pricing__benefits {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          &:before {
            content: '';
            display: inline-block;
            width: 0.75rem;
            height: 0.5rem;
            background: url('/assets/images/shared/desktop/icon-check.svg') no-repeat center center /
              contain;
            margin-right: 1.5rem;
            stroke-width: 2px;
          }

          &.benefits__active:before {
            fill: $dark-pink;
          }

          &:not(.benefits__active):before {
            opacity: 0.01;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // body {
  //     background: url('/assets/images/shared/desktop/bg-pattern-half-circle-tablet.svg') no-repeat -5rem -16rem;
  // }

  .header__container__pricing {
  }

  .main__container {
  }
}
@media screen and (min-width: 1440px) {
  // body {
  //     width: 100%;
  //     background: url('/assets/images/shared/desktop/bg-pattern-circle.svg') no-repeat 50rem -11rem;
  // }

  .header__container__pricing {
    s .nav__header {
      margin-right: 0.3rem !important;
    }

    .nav__menu {
      margin-right: -0.7rem;

      > :last-child {
        margin-left: 29.3rem !important;
      }
    }
  }

  .main__container {
  }
}
